.text_centered {
	text-align: center;
}

body, html {
	font-size: 12px !important;
	background: #F2F2F2;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

h1 {
	margin-top: 0px !important;
	color: #8C1515 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
}

h3 {
	color: #8C1515 !important;
	margin-top: 10px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
}

p {
	font-family: 'Roboto', sans-serif;
	line-height: 2em;
	word-spacing: 0.3em;
}

#main-background {
	width: 100%;
	height: 100%;
	background-image: url("background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.light_overlay {
	background: rgba(255, 255, 255, 0.9);
	display: block;
	height: 40%;
	min-height: 300px;
	width: 40%;
	margin: 0px auto;
	padding: 1.3em;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	margin-top: -20%;
	left: 50%;
	margin-left: -20%;
}

.light_overlay i {
	margin: 20px auto 10px auto;
	display: block;
	font-size: 2.2em;
}

.learn_more_container {
	position: absolute;
	color: inherit !important;
	bottom: 30px;
	right: 50px;
	background-color: rgba(255, 255, 255, 0.9) !important;
	border-radius: 10px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.learn_more_container:hover {
	cursor: pointer;
	color: #8C1515 !importants;
}

a:focus {
  outline: inherit !important;
}

.learn_more_container span {
	float: left;
	padding-top: 5px;
	padding-right: 10px;	
}

.learn_more_container i {
	float: left;
}

.faq {
	display: none;
}

/* Responsive styling */
@media (max-width: 1080px) {
	.light_overlay {
	    top: 20%;
	    width: 60%;
	    height: 45%;
	    min-height: 250px;
	    margin-left: -30%;
	    margin-top: 0px;
	}
}

@media (max-width: 1000px) {
	.light_overlay {
	    min-height: 280px;
	}
}

@media (max-width: 850px) {
	.light_overlay {
	    min-height: 300px;
	}
}

@media (max-width: 715px) {
	.light_overlay {
	    min-height: 325px;
	}
}

@media (max-width: 700px) {
	#main-background {
		background-position: -250px;
	}
	.light_overlay {
	    top: 15%;
	    width: 70%;
	    min-height: 300px;
	    margin-left: 15%;
	    left: 0px;
	}

	.learn_more_container {
		right: inherit;
		left: 50%;
		margin-left: -55px;
	}

	h1 {
		font-size: 2.5em !important;
	}
}

@media (max-width: 610px) {
	.light_overlay {
	    height: auto;
	}
}

@media (max-width: 450px) {
	.light_overlay {
	    top: 8%;
	    width: 80%;
	    margin-left: 10%;
	}
}